div{
    height: 100px;
    width: 100px; 
    background-color: rgba(255, 0, 0, 0.5);
    /* border-color : black ;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 1px 2px 3px 4px ; */
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
h1{
    width: 150px;
    background-color: aquamarine;
    /* border-width: 2px;
    border-color: black;
    border-style: dotted; */
    border:2px dotted black;
    text-align: center;
    border-radius: 30px;
}